@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroyextrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
         url('../fonts/gilroylight-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* font-family: 'Open Sans', Arial, sans-serif; */
/* font-family: 'Gilroy', Arial, sans-serif; */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  width: 1160px;
  min-height: 300px;
  padding: 0 20px;
  padding-top: 1px;
  margin: 0 auto;
  margin-top: -1px;
  position: relative;
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active,
.site-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}


/* Стили логотипа */ 
.main-header .logo {
  position: absolute;
  left: 78px;
  top: 13px;
}

.logo {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  color:#000000;
  text-transform: uppercase;
}

.logo:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.logo:active {
  color: rgba(0, 0, 0, 0.3);
}


/* Стили основной навигации сайта */
.main-navigation {
  background-color: #f7e296; 
  color: #000000;
  margin-top: 40px;
  width: 1040px;
  min-height: 260px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 35px;
}

.inner-main-navigation {
  min-height: 186px;
}

.wrap-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* Форма поиска, ссылка входа, ссылка сравнения, ссылка корзины */
.site-search {
  flex-basis: 500px;
  margin-right: 20px;
}

.site-search .field-search {
  background-color: #f7e296;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 2px 17px;
  color: rgba(0, 0, 0, 0.3);
  width: 355px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 20px;
  border: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: 'Open Sans', Arial, sans-serif;
}

.site-search input[type="search"]:focus {
  outline: none;
  padding-bottom: 8px;
  border-bottom: 2px solid #000000;
}

.site-search .btn-search {
  padding: 8px 19px;
  margin-left: -3px;
  border: 2px solid #000000; 
  background-color: #f7e296;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: 'Open Sans', Arial, sans-serif;
  opacity: 0;
}

/* Вопрос по поводу выхода с фокуса и скрытия кнопки */
/* В IE 11 съезжает нижний border у поля поиска */
.site-search > .field-search:focus + .btn-search {
  opacity: 1;
  transition: 1s;
}

.site-search .btn-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.site-search .btn-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.user-sing,
.user-name{
  flex-basis: 133px;
  flex-grow: 1;
  padding-left: 27px;
  margin-left: 20px;
  position: relative;
}

.user-sing:hover::before,
.user-name:hover::before {
  opacity: 0.6;
}

.user-sing:active::before,
.user-name:active::before {
  opacity: 0.3;
}

.user-sing::before,
.user-name::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 5px;
  width: 13px;
  height: 12px;
  background-image: url(../img/user.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.user-name {
  flex-basis: 133px;
  padding-left: 27px;
  margin-left: 20px;
  position: relative;
}

.user-name:hover::before {
  opacity: 0.6;
}

.user-name:active::before {
  opacity: 0.3;
}

.out {
  flex-basis: 80px;
  margin-left: 20px;
  opacity: 0.3;
}

.main-navigation .compare {
  flex-basis: 100px;
  margin-left: 20px;
  text-align: right;
  position: relative;
}

.main-navigation .compare::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;
  width: 13px;
  height: 12px;
  background-image: url(../img/compare.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.compare:hover::before {
  opacity: 0.6;
}

.compare:active::before {
  opacity: 0.3;
}

.main-navigation .cart {
  flex-basis: 100px;
  margin-left: 20px;
  text-align: right;
  position: relative;
}

.main-navigation .cart::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 19px;
  width: 13px;
  height: 12px;
  background-image: url(../img/cart.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cart:hover::before {
  opacity: 0.6;
}

.cart:hover::before {
  opacity: 0.3;
}

/* Стили основног меню */
.site-navigation {
/*  border: 1px solid red;  временная обводка для site-navigation */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.site-navigation,
.site-navigation ul,
.slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  margin-top: 26px;
}

.main-navigation a,
inner-main-navigation a,
.site-navigation a {
  color: #000000;
}

.site-navigation > li {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}

.site-navigation > li:first-child{
  position: relative;
  margin-left: 0;
}

.site-navigation > li:last-child{
  margin-right: 0;
}

.nav-catalog-list {
  flex-basis: 216px;
  flex-grow: 6.1;
}

.nav-catalog-list .catalog-deko::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/plus-sign.png);
  background-repeat: no-repeat;
  
}

.nav-contact {
  flex-basis: 130px;
  flex-grow: 1.6;
  text-align: right;
}

ul.sub-site-navigation {
  display: none; /* отключить после настройки */
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 108px;
  width: 1040px;
  position: absolute;
  top: 22px;
  left: -60px;
  z-index: 20;
  padding-top: 20px;
  padding-bottom: 34px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f7e296;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: normal;
  text-transform: none;
}

.nav-catalog-list:hover ul.sub-site-navigation {
  display: flex;
}

ul.sub-site-navigation li{
  width: 200px;
  margin-right: 40px;
}




/* Стилизация Слайдера */
.slider {
  padding-right: 60px;
  position: relative;
  top: -118px;
}

.item {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.slider-img {
  width: 560px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.slider-img img {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
}

.slider-description {
  width: 500px;
  padding-top: 40px;
  position: relative;
}

.slider-description::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-description h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  position: relative;
  z-index: 10;
}

.item-1 h3::after {
  content: "01";
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: -30px;
  right: -10px;
  width: auto;
  height: auto;
  z-index: -10;
}

.item-2 h3::after {
  content: "02";
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: -30px;
  right: -10px;
  width: auto;
  height: auto;
  z-index: -10;
}

.item-3 h3::after {
  content: "03";
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 179px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: -30px;
  right: -10px;
  width: auto;
  height: auto;
  z-index: -10;
}

.slider-description p {
  width: 480px;
  margin-top: -28px;
  margin-bottom: 44px;
}

.btn {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-image: url(../img/line-btn.png);
  background-position: center;
  background-repeat: repeat-x;
  background-color: none;
}

.btn:hover {
  background-color: #f0c52e;
  transition-duration: 1s;
  transition-property: background;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-slider {
  width: 220px;
}

.technical-parameters {
  border-collapse: collapse;
  margin-top: 50px;
}

.technical-parameters td {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  padding: 0;
  padding-right: 75px;
}

.technical-parameters th {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.item-active {
  display: flex;
}

/* Переключатели слайдера */
.slider-navigation {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 80px;
  bottom: 270px;
}

.slider-switch {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url(../img/slider-switch.svg);
  background-size: contain;
}

.slider-switch.active {
  background-image: url(../img/slider-switch-active.svg);
}


/* Стили подвала */
.main-footer {
  background-color: #464646;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}

.main-footer a {
  color: #ffffff;
}

.container-center {
  width: 1160px;
  padding: 30px 20px;
  margin: 0 auto;
}

.main-footer .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-footer .logo {
  color: #ffc600;
  margin-right: auto;
}

.main-footer .logo::after {
}

.main-footer .logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .user-sing {
  flex-basis: 0;
  flex-grow: 0;
}

.main-footer .user-sing::before {
  background-image: url(../img/user.svg);
}

