@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Open Sans', Arial, sans-serif; */
/* font-family: 'Gilroy Extra Bold', Arial, sans-serif; */
/* font-family: 'Gilroy Light', Arial, sans-serif; */
html,
body {
  margin: 0;
  padding: 0;
  
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  width: 1200px;
  padding: 0 20px;
  padding-top: 1px;
  margin: 0 auto;
  margin-top: -1px;
  position: relative;
}

/* Стили логотипа */
/* Возникла проблема при добавлении свойства "top: любое значение;" */ 
a.logo {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 48px;
  line-height: normal;
  color:#000000;
  position: absolute;
  left: 78px;
  margin-top: 13px;
  text-transform: uppercase;
}

a.logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

a.logo:active {
  color: rgba(0, 0, 0, 0.3);
}



.main-navigation {
  background-color: #f7e296; 
  color: #000000;
  margin-top: 40px;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
}



.site-navigation {
  border: 1px solid red; /* временная обводка для site-navigation */
  
  display: flex;
  flex-direction: row;
}


.site-navigation,
.site-navigation ul,
.slider {
  list-style: none;
}

.main-navigation a,
.site-navigation a {
  color: #000000;
}

.site-navigation > li {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

 ul.sub-site-navigation {
  font-family: 'Open Sans', Arial, sans-serif;
   font-size: 15px;
  font-weight: 300;
  line-height: 36px;
   letter-spacing: normal;
  text-transform: none;
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active,
.site-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

